
body {
  
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

div {
    box-sizing: border-box;
}


.board-container {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
}

.column {
    background: -webkit-linear-gradient(green, lightgreen);
}

.row-2, .row-24 {
    background-color: orchid;
}

.column-2, .column-49 {
    background: -webkit-linear-gradient(orchid, purple);
}

 .row {
    display: flex;
    align-content: center;
}

.row-1, .row-25, .column-1 > div, .column-50 > div{
    background-color: sandybrown;
}

.box-25-15, .box-25-16, .box-25-17, .box-25-18, .box-25-19, .box-25-20 {
    background: lightskyblue;
}

