
/* .row-1 .column-1, .row-2 .column-2{
    background-color: blue;
} */

/* * {
    box-sizing: border-box;
} */

body {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.board-container {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
}

.column {
    background: -webkit-linear-gradient(green, lightgreen);
}

.row-2, .row-23 {
    background-color: rgb(136, 32, 132);
}

.column-2, .column-49 {
    background: -webkit-linear-gradient(orchid, purple);
}

 .row {
    display: flex;
    align-content: center;
}



/*

.column-1, .column-50, .row-1, .row-24, .box-1-23, .box-50-23  {
    background-color: brown !important;
    z-index: 100;
}

.column-2, .column-49, .row-2 , .row-23 {
    background-color: orange;
} */


