
/* .row-1 .column-1, .row-2 .column-2{
    background-color: blue;
} */




.board-container {
    display: flex;
    justify-content: center;
}



/* .row {
    display: flex;
    align-content: center;
}

.column{
    background: -webkit-linear-gradient(lightskyblue, lightblue);
}

.column-1, .column-50, .row-1, .row-24, .box-1-23, .box-50-23  {
    background-color: brown !important;
    z-index: 100;
}

.column-2, .column-49, .row-2 , .row-23 {
    background-color: orange;
} */


